<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<!-- Mapperとxmlのマッピング --> 
<mapper namespace="com.example.demo.repository.TaskMapper">

  <!-- タスク全件取得 -->
  <select id="selectTasks" resultType="Task">
    select * 
    from task
    where created_user = #{createdUserId}
    order by updated_at desc
  </select>
  
  <!-- タスク登録 -->
  <insert id="insertTask">
    insert into task(
      name 
      ,completed 
      ,created_at 
      ,updated_at
      ,created_user
    )
    values(
      #{task.name} 
      ,0
      ,now()
      ,now()
      , #{task.createdUser} 
    )
  </insert>  
  
  <!-- タスク削除 -->
  <delete id="deleteTask">
    delete from 
      task
    where id = #{task.id}
  </delete>
  
  <!-- タスク更新 -->
  <update id="updateTask">
    update 
      task
    set
      name = #{task.name} 
      ,updated_at = now()
    where
      id = #{task.id}  
  </update>
  
  <!-- タスク完了・未完了戻し -->
  <update id="updateTaskCompleted">
    update 
      task
    set
      completed = #{task.completed} 
      ,updated_at = now()
    where
      id = #{task.id}  
  </update>

 </mapper>