<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<!-- Mapperとxmlのマッピング --> 
<mapper namespace="com.example.demo.repository.TaskMapper">

  <!-- タスク全件取得 -->
  <select id="selectTasks" resultType="Task">
    select * from task
  </select>
  
  <!-- タスク登録 -->
  <insert id="insertTask">
    insert into task(
      name 
      ,completed 
      ,created_at 
      ,updated_at
    )
    values(
      #{name} 
      ,0
      ,now()
      ,null
    )
  </insert> 
  
  <!-- タスク削除 -->
  <delete id="deleteTask">
    delete from 
      task
    where id = #{task.id}
  </delete>
 </mapper>